[user]
	name = Joe-Degs
	email = jpedegs8990@gmail.com
[core]
	editor = vim
[color]
	branch = auto
	interactive = auto
	diff = auto
	ui = true
	pager = true
[push]
	default = matching
[http]
	postBuffer = 524288000
[credential]
	helper = store
[pull]
    ff = only
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[url "ssh://git@gitlab.mpharma.com/"]
    insteadOf = https://gitlab.mpharma.com/
